/***********************************************************
* Application standard layouts 
*/

.application-info {
	position: relative;
	
  &.warning {
  	border-left: 2px dashed #bb161c;
	}
	
  .name {
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    margin-right: 5px;
  }

  > .url {
    display: inline-block;
    vertical-align: text-bottom;
    white-space: nowrap;
    vertical-align: middle;
    font-size: $smallFontSize;
  }

	.gear-numbers {
		color: #bcbdbc;
	}
  .emblem {
  	vertical-align: middle;
  	padding: 2px 0;

    margin-right: 15px;
    margin-top: 6px;
    img {
  		margin-right: 7px;
		  vertical-align: middle;
  	}
  }
}

.section-header > .application-info {

  > .url {
    line-height: 36px; // chosen to match h1
    font-size: $largeFontSize;
  }

  // move these under .application-info
	.emblem {	
    img {
      vertical-align: middle;
      margin-right: 13px;
      margin-bottom: 3px;
    }
  }
	.total-cost {	
		font-size: 32px; //FIXME
		font-weight: 200;
		margin-top: 10px;
		padding-right: 30px;
    text-align: right;
	}
}

.tile-dark .application-info {
  left: -5px;
  margin-right: -10px;
  padding-top: 15px;
  padding-bottom: 15px;

  > .url {
    // line-height: 34px; chosen to match h2
  }
}

.application_type.tile {
  margin-bottom: 10px;
}

#aliases li > a {
  @include truncate();
  max-width: 65%;
  display: inline-block;
}

@media (max-width: 480px) {
  .application-info {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 70%;
    }
  }
}


@media (min-width: 480px) and (max-width: 767px) {
  .section-header > .application-info {
    margin-right: 0;
    left: 0;
  }
  .application-info {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 70%;
    }
    .emblem {
      margin-right: 7px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .application-info {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 375px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .console.index .application-info {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 475px;
    }
  }
}


@media (min-width: 1200px) {
  .console.index .application-info {
    > .url,
    > .name {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 565px;
    }
  }
}

#new_application {
  .application_type {
    margin-bottom: 0;
  }
  ol.spaced-items > li {
    line-height: 28px; // match SELECT
    margin-bottom: 3px;
  }
  .tile-align {
    margin-bottom: 5px;
  }
  select {
    vertical-align: baseline;
    margin-bottom: auto;
    width: auto;
    max-width: -moz-available;
  } // refactor me to a marker class
}

.form-search {
  .btn:first-child {
    border-radius: 0;
  }
  span.dropdown { 
    display: inline-block; 
  }
  .btn .caret {
    border-top-color: white;
  }
  .dropdown-toggle {
    @include box-shadow;
  }
  &.open .dropdown-menu { 
    border-radius: 0; 
  }
}

@media (max-width: 479px) {

  #new_application .controls {
    .add-on, .add-on {
      clear: left;
      display: block;
      padding: 8px 0;
      width: 100% !important;
    }
    .add-on.middle {display: none;}
    .input-prepend, .input-append,
    .input-prepend input, .input-append input,
    .input-prepend input, .input-append input {
      display: block;
      text-align: center;
      width: 100%;
      vertical-align: bottom;
    }
  }  
}

.graph {
  position: relative;
  margin-bottom: 10px;

  header {
    font-weight: 500;
    padding: 6px;
  }

  .group {
    margin-bottom: 1em;
  }

  .axis {
    font: 10px sans-serif;
    pointer-events: none;
    z-index: 2;
  }

  .axis text {
    -webkit-transition: fill-opacity 250ms linear;
  }

  .axis path {
    display: none;
  }

  .axis line {
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis.top {
    background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
    top: 0px;
  }

  .axis.bottom {
    background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
    bottom: 0px;
  }

  .horizon {
    border-bottom: solid 1px #000;
    overflow: hidden;
    position: relative;
  }

  :not(.horizon) + .horizon {
    border-top: solid 1px #000;
  }

  .horizon canvas {
    display: block;
  }

  .horizon .title,
  .horizon .value {
    bottom: 0;
    line-height: 30px;
    margin: 0 6px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    white-space: nowrap;
  }

  .horizon .title {
    left: 0;
  }

  .horizon .value {
    right: 0;
  }

  .line {
    background: #000;
    z-index: 1;
  }

  #step {
    position: fixed;
    bottom: 6px;
    z-index: 3;
  }
}